extends ../../layouts/default.pug 
include ../../mixins/pagination.pug 
include ../../mixins/form-search.pug 
include ../../mixins/filter.pug 
include ../../mixins/changeMulti.pug 
include ../../mixins/alert.pug 
include ../../mixins/sort.pug 
    
block main 
    .main
        h1.title Danh sách nhóm quyền
        -if(messages.messages)
             +alert-success(messages.messages)
        .filter-search
            .title Bộ lọc và tìm kiếm
            .body
                +filter()
                a(href="/admin/roles/create" class="btn btn-primary btn-create" style="color:white") 
                    i(class="fa-solid fa-plus" style="margin-right: 5px")
                    | Thêm mới 
                +changeMulti()
                +form-search()
        .sort.filter-search
            .title Sắp xếp
            .body 
                +sort()
        table.table.table-bordered(checkbox-multi)
            thead
                tr
                    td(scope='col')
                        input(type="checkbox" name="check-all")
                    th(scope='col') STT
                    th(scope='col') Tên
                    th(scope='col') Mô tả ngắn
                    th(scope='col').action Hành động
            tbody
                if (roles.length > 0)
                    each role,index in roles
                        tr 
                            td 
                                input(type="checkbox" name="id")
                            th(scope='row') #{index + 1}
                            td.title #{role.title}
                            td 
                                #{role.description}
                            td
                                .action
                                    button(class= "btn btn-danger" button-delete) Xóa
                                    a(href=`/admin/roles/edit/${role._id}` class= "btn btn-warning") Sửa
                                    a(href=`/admin/roles/detail/${role._id}` class= "btn btn-success") Chi tiết
                else
                    tr Không tìm thấy nhóm quyền nào
    form(action="" method="POST" id="form-change-status") 
    form(action="" method="POST" id="form-delete-item") 